/*------------------> NPCS COORDS */


.sprakki {
  top: calc(50% - 80px);
  left: calc(50% - 0px);
}

.sprakki::after {
  position: absolute;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  content: "Sprakki";
  color: #638dfb;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: #000;
  top: calc(50% - 30px);
  left: calc(50% - 25px);
}

.guard_0_2 {
  top: calc(50% - 180px);
  left: calc(50% - -150px);
}

.guard_0_2::after {
  position: absolute;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  content: "Guarda do Castelo";
  color: #638dfb;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: #000;
  top: calc(50% - 120px);
  left: calc(50% - -85px);
}

.guard_0_2_alt {
  top: calc(50% - -160px);
  left: calc(50% - -80px);
}

.guard_0_2_alt::after {
  position: absolute;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  content: "Guarda do Castelo";
  color: #638dfb;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: #000;
  top: calc(50% - -220px);
  left: calc(50% - -85px);
}

.instructor_0_3 {
  top: calc(50% - 60px);
  left: calc(50% - -90px);
}

.instructor_0_3::after {
  position: absolute;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  content: "Instrutor";
  color: #638dfb;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: #000;
  top: calc(50% - 0px);
  left: calc(50% - -60px);
}

.instructor_0_4 {
  top: calc(50% - 60px);
  left: calc(50% - -20px);
}

.instructor_0_4::after {
  position: absolute;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  content: "Instrutor inicial";
  color: #638dfb;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: #000;
  top: calc(50% - 8px);
  left: calc(50% - 30px);
}

.instructor_0_5 {
  top: calc(50% - 165px);
  left: calc(50% - -190px);
}

.instructor_0_5::after {
  position: absolute;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  content: "Instrutor final";
  color: #638dfb;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: #000;
  top: calc(50% - 115px);
  left: calc(50% - -145px);
}

.instructor_0_6 {
  top: calc(50% - 160px);
  left: calc(50% - 300px);
}

.instructor_0_6::after {
  position: absolute;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  content: "Instrutor final";
  color: #638dfb;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: #000;
  top: calc(50% - 110px);
  left: calc(50% - 345px);
}


/*------------------> TELEPORTS COORDS */

.tele01 {
  top: calc(50% - 60px);
  left: calc(50% - -265px);
}

.tele01::after {
  position: absolute;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  content: "Portal";
  color: #638dfb;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: #000;
  top: calc(50% - 6px);
  left: calc(50% - -288px);
}

.tele02 {
  top: calc(50% - 60px);
  left: calc(50% - -75px);
}

.tele02::after {
  position: absolute;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  content: "Portal";
  color: #638dfb;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: #000;
  top: calc(50% - -30px);
  left: calc(50% - -195px);
}